<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

<footer class="py-5 container">
    <h2><span class="visually-hidden">Rodapé do site</span></h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <img style="height: 3rem" src="{{site.url}}/img/laima-hor-color.svg" alt="descrição da logo do laima">
        <p class="col-12 col-md-6 mt-5"><small>A inteligência humana ensinando a máquina a atender às necessidades da pessoa com deficiência</small></p>
      </div>

      <div class="py-5 py-md-0 col-12 col-md-6 col-lg ">
        <h3 class="mb-4 h6">Página do site</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Página inicial</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sobre o Laima</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Projetos</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contato</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg ">
        <h3 class="mb-4 h6">Projetos</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Projeto 1</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Projeto 2</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Projeto 3</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Projeto 4</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Projeto 5</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Projeto 6</a></li>
        </ul>
      </div>

     
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 Laima faz parte da UFPE.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a title="O link do twitter irá abrir em uma nova aba"     class="link-body-emphasis" href="#"><i class="bi bi-twitter-x"></i></a></li>
        <li class="ms-3"><a title="O link do instagram irá abrir em uma nova aba"   class="link-body-emphasis" href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a title="O link do facebook irá abrir em uma nova aba"    class="link-body-emphasis" href="#"><i class="bi bi-facebook"></i></a></li>
      </ul>
    </div>
  </footer>