<nav class="z-3 navbar navbar-expand-lg p-0 m-0" aria-label="Menu principal do site" id="menu">
  <a href="#" class="d-none" id="menu">Menu</a>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" title="Página inicial">
      <img src="{{site.url}}/img/laima-hor.svg" alt="Laima">
    </a>
    <button class="navbar-toggler menu-button m-3 m-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list me-2" aria-hidden="true"></i> Menu
    </button>

    <div class="collapse navbar-collapse" id="mainMenu">
      <div class="ms-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link link-light active" id="menu" href="#">Página inicial</a></li>
          <li class="nav-item"><a class="nav-link link-light" href="#">Sobre o Laima</a></li>

          <li class="nav-item dropdown">
            <a class="nav-link link-light dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Projetos</a>
            <ul class="dropdown-menu pb-0">
              <li><h6 class="dropdown-header">Em andamento</h6></li>
              <li><a class="dropdown-item" href="#">Ias</a></li>
              <li><a class="dropdown-item" href="#">Iapa</a></li>
              <li><a class="dropdown-item" href="#">Sorvetemania</a></li>
              <li class="my-3"><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Concluídos</h6></li>
              <li><a class="dropdown-item" href="#">Enades</a></li>
              <li><a class="dropdown-item" href="#">Snapsects</a></li>
              <li><a class="dropdown-item" href="#">RBTV</a></li>
              <li class="mt-2"><a class="dropdown-item bg-primary rounded-bottom-1 text-white" href="#">Todos os projetos</a></li>
            </ul>
          </li> 
          <li class="nav-item"><a class="nav-link link-light" href="#">Blog</a></li>
          <li class="nav-item"><a class="nav-link link-light" href="#">Contato</a></li>

        </ul>

      </div>
    </div>
  </div>
</nav>