<section class="section mx-5 section-contact rounded bg-dark">
    <div class="container mx-auto p-4">
        <div class="row text-white">
            <h2 class="section-title">Pessoas impactadas no mundo</h2>

            <ul class="list-unstyled mb-5 text-white d-flex align-self-stretch row">
                <li class="col-12 col-md"><div class="h-100 border-bottom p-2"><h3 class="display-4 fw-bold">10%</h3>da população, ou 650 milhões de pessoas têm deficiência. <a title="Confira a referência do dados disponibilizado" class="text-decoration-none text-white" id="footnote-1" href="#footnote-1"><sup>1</sup></a></div></li>
                <li class="col-12 col-md"><div class="h-100 border-bottom p-2"><h3 class="display-4 fw-bold">37%</h3>das pessoas com deficiência compram mensalmente e 23% quinzenalmente. <a title="Confira a referência do dados disponibilizado" class="text-decoration-none text-white"  id="footnote-2" href="#footnote-2"><sup>2</sup></a></div></li>
                <li class="col-12 col-md"><div class="h-100 border-bottom p-2"><h3 class="display-4 fw-bold">25bi</h3> de pessoas precisam de um ou mais produtos assistivos. <a title="Confira a referência do dados disponibilizado" class="text-decoration-none text-white" id="footnote-3" href="#footnote-3"><sup>3</sup></a></div></li>
            </ul>
            <p class="fpfs-6">
                <sup id="footnote-1">1</sup> <a class="text-white" href="https://www.inclusive.org.br/arquivos/57" title="O link irá abrir uma nova abra" target="_blank">Inclusive - Inclusão e Cidadania</a> <a href="#footnote-1"><i style="font-size: 0.58rem;" class="ms-1 text-white bi bi-arrow-return-left" title="Retornar para o trecho do texto"></i></a>, 
                <sup id="footnote-2">2</sup> <a class="text-white" href="https://sbvc.com.br/acessibilidade-decisivo-consumidores-deficiencia/" title="O link irá abrir uma nova abra" target="_blank">SBVC</a><a href="#footnote-2"><i style="font-size: 0.58rem;" class="ms-1 text-white bi bi-arrow-return-left" title="Retornar para o trecho do texto"></i></a> e 
                <sup id="footnote-3">3</sup> <a class="text-white" href="https://brasil.un.org/pt-br/182189-cerca-de-um-bilh%C3%A3o-de-pessoas-com-defici%C3%AAncia-t%C3%AAm-acesso-negado-tecnologia-assistiva" title="O link irá abrir uma nova abra" target="_blank">Nações unidas do Brasil</a><a href="#footnote-3"><i style="font-size: 0.58rem;" class="ms-1 text-white bi bi-arrow-return-left" title="Retornar para o trecho do texto"></i></a>.
            </p>
        </div>
    </div>
</section>