<section class="section section-project">
    <div class="row px-0 container mx-auto position-relative">
        <div class=" order-2 order-md-1 col-12 col-md-6 d-flex flex-column align-items-start justify-content-end">
            <h2 class="my-4 pb-5 fs-1 section-title">Projeto mais recente</h2>
            <h3 class="pt-5">Projeto</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nisi maiores quisquam accusantium deserunt facilis nostrum pariatur similique sit doloribus reprehenderit id in quae, ea eaque impedit tempora suscipit totam?</p>
            <a class="text-dark" href="#" role="button">Acesse a página do detalhe<i class="ms-2 bi bi-arrow-right-short" aria-hidden="true"></i></a>
        </div>
        <img src="https://images.pexels.com/photos/3493777/pexels-photo-3493777.jpeg" class="col-12 col-md-6  order-1 order-md-2 object-fit-cover border rounded p-0" alt="alt do projeto destaque">
        <div class="w-100"></div>
        <div class="order-3 mt-5 pt-5 px-0">
                <div class="w-100 d-flex justify-content-between align-items-start">
                    <h3 class="section-title px-3">Outros projetos</h3>
                    <a href="#" class="btn btn-outline-primary">todos os projetos</a>
                </div>
                <ul class="w-100 pt-5 container mx-auto list-unstyled px-0 row">
                    {% include parts/project-card.html %}
                </ul>
            </div>
        </div>
    </div>
</section>