{% for item in site.data.projects.project %}
<li class="col-12 col-md-6 mb-3">
    <div class="card border p-3 rounded bg-light">
        <div class="row g-0">
            <img src="{{item.image}}" class="col-md-6 col-12 object-fit-cover border rounded p-0" alt="{{item.alt}}">
            <div class="col-md-6 col-12 d-flex align-items-end">
                <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <p class="card-text">{{item.description}}
                    <div class="w-100"></div>
                    <span class="badge badge-status-{{item.status | slugify}}">{{item.status}}</span>
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <a href="{{item.link}}" class="text-dark stretched-link"
                                title="Saiba mais detalhes sobre '{{item.name}}'">
                                Acesse a página do projeto<i class="ms-2 bi bi-arrow-right-short"
                                    aria-hidden="true"></i>
                            </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</li>


{% endfor %}