<section class="m-2 section section-project">
    <div class="my-5 py-5 row container mx-auto position-relative">
        <div class="col-12 col-md-6 order-2 order-md-1  d-flex flex-column align-items-start justify-content-end">
            <h2 class="p-4 fs-1 section-title container mx-auto">
                Projeto mais recente
            </h2>
            <div class="py-5"></div>

            <p>
                <h3>Projeto</h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nisi maiores quisquam accusantium
                deserunt facilis nostrum pariatur similique sit doloribus reprehenderit id in quae, ea eaque impedit
                tempora suscipit totam?</p>
            <a class="text-dark stretched-link" href="#" role="button" href="#">Acesse a página do detalhe <i
                    class="ms-2 bi bi-arrow-right-short" aria-hidden="true"></i></a>
        </div>
            <img src="http://lorempixel.com.br/900/450/?7" class="col-12 col-md-6  order-1 order-md-2 object-fit-cover border rounded p-0" alt="alt do projeto destaque">
    </div>
    <div class="my-5 py-5">
        <h3 class="p-4 fs-1 section-title container mx-auto ">
            Outros projetos
        </h3>
        <div class="py-5"></div>

        <ul class="container mx-auto list-unstyled row">
            {% include parts/project-list.html %}
        </ul>
    </div>
</section>